__pycache__/
benchmark/
training_data/
evaluation_outputs/
merged_models/
weight/
MolScribe/
training_data/
wandb/
weight/
weight_lora_sft/
weight_full_sft/
lora_sft_evaluation_outputs/
full_sft_evaluation_outputs/
merged*/
merged_lora_sft_3X64_1EPOCH_model/
merged_lora_sft_3X64_1EPOCH_model/lora_checkpoint-1500
weight_progressive_sft/
weight*/
progressive_sft_evaluation_outputs/
weight_router_rl/
GSPO_verl_case/
verl_data/
outputs/
merged_full_sft_800K_1EPOCH_model/
gspo_evaluation_outputs/
reft_sft_evaluation_outputs/
gspo/_chemseek_gspo_freeze.py
github.txt
*.zip
*.pt
*.pth
*.bin
*.safetensors
*.ckpt
*.txt
*.pdf