__pycache__/
benchmark/
training_data/
evaluation_outputs/
merged_models/
weight/
MolScribe/
training_data/
wandb/
weight/
weight_lora_sft/
weight_full_sft/
lora_sft_evaluation_outputs/
full_sft_evaluation_outputs/
merged*/
merged_lora_sft_3X64_1EPOCH_model/
weight_progressive_sft/
weight*/
progressive_sft_evaluation_outputs/
weight_router_rl/
GSPO_verl_case/
verl_data/
outputs/
github.txt
*.zip
*.pt
*.pth
*.bin
*.safetensors
*.ckpt