__pycache__/
benchmark/
training_data/
evaluation_outputs/
merged_models/
weight/
MolScribe/
training_data/
wandb/
weight/
weight_lora_sft/
weight_full_sft/
lora_sft_evaluation_outputs/
full_sft_evaluation_outputs/
merged*/
github.txt
*.zip
*.pt
*.pth
*.bin
*.safetensors
*.ckpt